<div class="main">

  <main class="content-container">

    <header>
        <h3 class="header-title">Roll for Initiative</h3>
    </header>

    <div class="content">
        <ui-view></ui-view>
    </div>

  </main>

  <nav class="side-nav">

    <h3 class="side-nav-title">Navigation</h3>

    <ul>
        <li><a ui-sref="app.monsters">Monsters</a></li>
        <li>Nav link</li>
        <li>Nav link</li>
        <li>Nav link</li>
    </ul>

  </nav>
</div>

<footer>
  <p>Created by Jack Curtis. Source available <a href="https://github.com/JackVCurtis/wild-things">here.</a></p>
</footer>