<div class="monster-form">
  <h3>Create a new monster:</h3>
  <form>
    <section class="name">
      <label for="monster-name">Name: </label>
      <input name="monster-name" type="text" ng-model="cm.data.name">
    </section>

    <section class="general">
      <h4>General Statistics: </h4>

      <div class="inline-form">
        <div class="inline-form-group">      
          <label>Hit Points: </label>
          <input type="text" ng-model="cm.data.hp"></input>
        </div>

        <div class="inline-form-group">      
          <label>Armor Class: </label>
          <input type="text" ng-model="cm.data.ac"></input>
        </div>

        <div class="inline-form-group">
          <label>Base Speed: </label>
          <input type="number" ng-model="cm.data.speed.base"></input>      
        </div>

        <div class="inline-form-group">
          <label>Size: </label>
          <input type="text" ng-model="cm.data.size"></input>        
        </div>

        <div class="inline-form-group">
          <label>Type: </label>
          <input type="text" ng-model="cm.data.type"></input>        
        </div>

        <div class="inline-form-group">
          <label>Alignment: </label>
          <input type="text" ng-model="cm.data.alignment"></input>                  
        </div> 
      </div>

    </section>

    <section class="abilities">
      <h4>Ability Scores</h4>

      <div class="inline-form">
        <div class="inline-form-group">
          <label>Strength: </label>
          <input type="number" ng-model="cm.data.abilityScores.str"></input>              
        </div>

        <div class="inline-form-group">
          <label>Dexterity: </label>
          <input type="number" ng-model="cm.data.abilityScores.dex"></input>
        </div>
        <div class="inline-form-group">
          <label>Constitution: </label>
          <input type="number" ng-model="cm.data.abilityScores.con"></input>
        </div>
        <div class="inline-form-group">
          <label>Intelligence: </label>
          <input type="number" ng-model="cm.data.abilityScores.int"></input>
        </div>
        <div class="inline-form-group">
          <label>Wisdom: </label>
          <input type="number" ng-model="cm.data.abilityScores.wis"></input>
        </div>
        <div class="inline-form-group">
          <label>Charisma: </label>
          <input type="number" ng-model="cm.data.abilityScores.cha"></input>
        </div>
      </div>

    </section>

    <section class="description">
      <h4>Description: </h4>

      <div class="description-field" contenteditable="true" ng-model="cm.data.description"></div>
    </section>



    <div class="change-monster-submit">
      <button class="btn btn-large" ng-click="cm.onSubmit()">Smithers, unleash the hounds</button>
    </div>
  </form>
</div>